---
---

@import "{{ site.theme }}";

body {
  background-color: #fff;
    padding: 50px;
    padding-top: 0px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

a:hover {
    font-weight: normal;
}

section {
    padding-top: 40px;
}

h3:not([id*='spend-more'],[id*='how-can'])  {
  display: flex;
  justify-content: right;
}

h4 {
  color: #a40b0b;
  display: flex;
  justify-content: center;
}

[alt=general],[alt=business],[alt=estate],[alt=personal] {
  float: left;
}

@media print, screen and (max-width: 960px) {
  section {
    padding-top: 20px
  }
}
