---
---

@import "{{ site.theme }}";

body {
  background-color: #fff;
    padding: 50px;
    padding-top: 0px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

a:hover {
    font-weight: normal;
}

section {
    padding-top: 40px;
}
