<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  
  <body>
    
    <!-- NAVIGATION -->
    <nav style="position: fixed; top: 0; left: 0; margin: auto; width: 100%;">
      <p style="display:flex; flex-wrap:nowrap; justify-content:right; margin:0 auto; padding-bottom: 5px;padding-top: 5px;padding-right: 50px;background: #fff;">
        <!-- determine if I can do a loop here -->
        {% if site.page1 %}
        <a href='./'>Home</a>
        <span style="padding-left: 10px; opacity:50%">|</span>
        <a href='./{{ site.page1 }}.html' style="padding-left:10px">{{ site.page1description }}</a>
        {% endif %}
        <!-- {% if site.page2 %}
        <span style="padding-left: 10px;">|</span>
        < a href='./{{ site.page2 }}.html' style="padding-left:10px">{{ site.page2description }}</a>
        {% endif %} -->
      </p>
    </nav>
    
    <div class="wrapper">
      <header style="padding:0px">
        <!-- LOGO -->
        <a href='./'>
          <img src='{{site.logo | relative_url}}' alt='{{ site.title | default: site.github.repository_name }}' 
               style='max-width:225px; display:flex; align-items:center; justify-content:center; margin: 0 auto'/>
        </a>

        <!-- SITE DESCRIPTION -->
        <p style="display:flex; align-items:center; justify-content:center; margin: 0 auto; color:#310303; 
                  opacity: 60%; letter-spacing: 0.4px; font-family:Helvetica; font-weight: 200; font-size:15px;
                  margin-top:15px; margin-bottom:20px">{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      
      <section>
      <!-- INDEX.MD -->
      {{ content }}

      </section>
      
      <footer>
        <p><small>&#169; 2021, SOURCE PARALEGAL, LLC.</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
  
</html>
